# Created by .ignore support plugin (hsz.mobi)

/SquadAutomationProject.iml
*.iml
*.idea/
/.idea/
*/target/
*/AT_T/Extent-Report/
*/Amazon/Extent-Report/
*/BankOfAmerica/Extent-Report/
*/Youtube/Extent-Report/
/Twitter/Extent-Report/
/CNN/Extent-Report/
